/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  padding: 80px;
}
.heading {
  color: #05acff;
  font-family: 'roboto';
  font-size: 38px;
}
